---
import type { Page, GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import { getAllPosts, getUniqueTags, sortMDByDate } from "@/utils";

export const getStaticPaths: GetStaticPaths = async () => {
	const allPosts = await getAllPosts();
	const allPostsByDate = sortMDByDate(allPosts);
	const uniqueTags = getUniqueTags(allPostsByDate);

	return uniqueTags.flatMap((tag) => {
    const posts = allPostsByDate.filter((post) => post.data.tags.includes(tag))
    return {
      props: {
        page: {
          data: posts
        }
      },
      params: {
        tag,
      },
    };
	})
}

interface Props {
	page: Page<CollectionEntry<"post">>;
}

const { page } = Astro.props;
const { tag } = Astro.params;

const meta = {
	title: `Tag: ${tag}`,
	description: `View all posts with the tag - ${tag}`,
};

---

<PageLayout meta={meta}>
	<h1 class="title mb-6 flex items-center">
		<a href="/tags/" class="text-accent sm:hover:underline">Tags</a>
		<span class="me-3 ms-2">→</span>
		<span class="text-xl">#{tag}</span>
	</h1>
	<section aria-label="Blog post list">
		<ul class="space-y-4">
			{
				page.data.map((p) => (
					<li class="flex flex-col flex-wrap gap-2 sm:flex-row [&_q]:basis-full">
						<PostPreview post={p} as="h2"/>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
