---
import { menuLinks, siteConfig, buildLinks } from "@/site-config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:gap-x-20 sm:text-xs"
>
	<div>
		&copy; {siteConfig.author}&nbsp;
		{year}.<span class="block"
			>🚀&nbsp;
			{
				buildLinks.map((link, index) => {
					return (
						<span>
							<a
								href={link.path}
								target="_blank"
								class="py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
							>
								{link.title}
							</a>
							{index !== buildLinks.length - 1 && "&"}
						</span>
					);
				})
			}
		</span>
	</div>
	<nav
		aria-label="More on this site"
		class="flex flex-wrap items-center justify-center gap-y-2 text-sm sm:text-xs"
	>
		{
			menuLinks.map((link) => (
				<a href={link.path} class="mx-2 whitespace-nowrap py-1 sm:hover:text-textColor sm:hover:underline">
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
